/* Form element styles */
.form {
  margin: 5px;
}

.form > *:not(:first-child) {
  margin-top: 2rem;
}

.form h3 {
  border-bottom: 1px solid var(--form-border-color, #ccc);
}

/* Form section styles */
.form-section > *:not(:first-child) {
  margin-top: 2rem;
}

/* Messages styles */
.messages {
  font-weight: bold;
}

/* Buttons container styles */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  margin-top: 3rem;
}
