/* Form input wrapper label styles */
.form-input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0;
  justify-content: stretch;
}

/* Form label text styles */
.form-label-text {
  white-space: nowrap;
  font-weight: bold;
  display: block;
}

/* Help text styles */
.help-text {
  font-style: italic;
  margin: 0;
  padding: 0;
}
