/* Styling for NavBar stories in Ladle */
.story-navbar {
  position: fixed;
  left: 2rem;
  top: 2rem;
  width: calc(100% - 36rem);
}

.story-wrapper {
  display: flex;
  height: 100%;
}

.story-styled-menu-item {
  color: var(--ox-color-orange);
}

.info-menu-button:hover svg path {
  fill: var(--info-icon-fill, currentColor);
}
