/* Toast container styles */
.toast-container {
  z-index: var(--toast-container-z-index, var(--ox-z-index-toasts));
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;
}

.toast-container:not(.toast-container-inline) {
  position: fixed;
  right: 2rem;
}
