/* Checkbox label styles */
.checkbox-label {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: var(--checkbox-font-weight, 400);
  color: var(--checkbox-color, inherit);
}

.checkbox-label.disabled {
  color: var(--checkbox-disabled-color, #e5e5e5);
}

/* Checkbox input/selection styles */
.checkbox-input {
  appearance: none;
  background-color: var(--checkbox-bg-unchecked, #ffffff);
  opacity: var(--checkbox-opacity, 1);
  border: var(--checkbox-border-unchecked, 1px solid #6f6f6f);
  border-radius: 0.2rem;
  transform: translateY(-0.075em);
  width: var(--checkbox-size, 1.6rem);
  height: var(--checkbox-size, 1.6rem);
  margin: 0 1.6rem 0 0;
  display: grid;
  place-content: center;
}

.checkbox-input::before {
  content: "";
  border-radius: 0.2rem;
  width: var(--checkbox-size, 1.6rem);
  height: var(--checkbox-size, 1.6rem);
  border: var(--checkbox-border-checked, 1px solid #026AA1);
  border-radius: 0.2rem;
  transform: scale(0);
  background-color: var(--checkbox-bg, #026AA1);
  background-image: var(--checkbox-checkmark, none);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-input:checked::before {
  transform: scale(1);
  opacity: var(--checkbox-checked-opacity, 1);
}

.checkbox-input.disabled {
  opacity: 0.4;
  border: 1px solid var(--checkbox-disabled-border, #d5d5d5);
}

.checkbox-input.disabled:checked::before {
  opacity: 0;
}
